<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
	
	<context:property-placeholder location="classpath:musicplayer.properties"/>
	
	<bean id="musicBean" class="ru.stepan.springcourse.RockMusic">
	</bean>
	<bean id="classic" class="ru.stepan.springcourse.RockMusic">
	</bean>
	<bean id="rock" class="ru.stepan.springcourse.ClassicalMusic">
	</bean>

	<bean id="musicPlayer" class="ru.stepan.springcourse.MusicPlayer">
		<constructor-arg ref="musicBean"/>
<!-- 	<property name="music" ref="musicBean"/> -->
<!-- 	<property name="name" value="${musicPlayer.name}"/> -->
<!-- 	<property name="volume" value="${musicPlayer.volume}"></property> -->
		<property name="musicList">
			<list>
				<bean id="rock" class="ru.stepan.springcourse.ClassicalMusic"/>
				<bean id="musicBean" class="ru.stepan.springcourse.RockMusic"/>
				<bean id="core" class="ru.stepan.springcourse.CoreMusic"/>
			</list>
		</property>
	</bean>

</beans>